:root{
    --primary-green-900: #064e3b;
    --primary-green-50: #ecfdf5;
    --primary-green-500: #10b981;
}


.montserrat-strong {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: var(--primary-green-900);
    color: var(--primary-green-50);
    text-align: center;
    margin: 0;
    padding: 5px 0;
    border-bottom: solid 1px var(--primary-green-500);
    display: grid;
    grid-template-columns: 10vw 90vw;
    align-items: center;
}

h1{
    font-size:xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;

}

.coverImage{
    margin: 0 auto;
    width: 100vw;
    height: 15vh;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

body{
    width: 100vw;
    height: 100vh;
}

.steps{
    margin: auto;
}

.steps>li{
    list-style-type:decimal;
    text-align: left;
}

.stepsContainer, .ingredientsContainer{
    margin: auto;
    border-top: dashed 1px var(--primary-green-900);
    width: 50vw;
}

h1, h2, h3, h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: var(--primary-green-500);
}

li{
    margin: 5px auto;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: var(--primary-green-900);
    margin: 0;
}

li{
    list-style-type: none;
}

.listContainer{
    margin: 20px;
}

caption{
    text-align: center;
}

.streamline--return-2-solid {
    margin: 0 0 0 10px;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='white' fill-rule='evenodd' d='M6.545.998a1 1 0 0 0 0 2h2.728a2.638 2.638 0 0 1 0 5.275H4.817V6.545a1 1 0 0 0-1.707-.707L.384 8.564a1.004 1.004 0 0 0-.22 1.09c.049.119.121.23.218.327l2.728 2.728a1 1 0 0 0 1.707-.707v-1.729h4.456a4.638 4.638 0 1 0 0-9.275z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.streamline--return-2-solid:hover{
    color: #064e3b;
    background-color: #064e3b;
}

.mainHeader{
    display: block;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--primary-green-900);
    color: var(--primary-green-50);
    width:100vw;
    padding: 5px 0;
    text-align: center;
}